body {background-color: orange;
    font-family: Segeo, Verdana, sans-serif;
    margin: 0 auto;
    width: fit-content;
    }
    header {
        background-color: blueviolet;
    }
    header > h1 {
        text-align: center;
        margin: 0;
    }
    h1{
        color: white;
    }    
    nav {
        display: grid;
        text-align: center;
    }
    nav > ul {
        line-height:2em;
        margin: 0;
        background-color: yellow;
    }
    li a:hover {
        background-color: black;
        
    }
    li a:link {
        text-decoration: none;
    }
    nav > ul > li {
        display: inline-block;
    }
    main {
        display: flex;
        float: left;
    }

    #leftColumn {
        background: skyblue;

    }
    #rightColumn {
        float: right;
        width: fit-content;
    }
    
    main section {
        width: fit-content;
        float: left;
        height: 500px;
    }
    section {
        background-color: aqua;
        line-height: 30px;
        line-break: auto;
    }
    footer {
        background-color: red;
        text-align: center;
    }
    img > section{
        height: fit-content;
        width: fit-content;
    }